/* 
    ********** VARIABLES ********** 
*/

:root {
  --color-blue: #2e94fa;
}

/* 
    ********** MEDIA QUERIES ********** 
*/

/* 800px = tablette portrait */

@media screen and (max-width: 800px) {
  .cover__flux {
    flex-direction: column;
  }
}

/* 450px = mobile */

@media screen and (max-width: 450px) {
  .header__link--grey {
    display: none;
  }
}

/* 
    ********** HEADER ********** 
*/

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
}

.header__image {
  border-radius: 10px;
  width: 100px;
}

.header__link {
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 10px;
}

.header__link--blue {
  border: solid 2px #f0ecec;
  color: var(--color-blue);
  font-size: 22px;
  font-weight: 900;
}

.header__link--grey {
  color: #777474;
}

/* 
    ********** FLUX ********** 
*/

.flux {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  max-width: 1200px;
  width: 100%;
}

/* 
    ********** COVER ********** 
*/

.cover {
  padding-bottom: 30px;
  padding-top: 80px;
}

.cover__container--images {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 370px;
  padding: 0px 5px;
}

.cover__container--link {
  background-color: var(--color-blue);
  border-radius: 10px;
  color: white;
  font-weight: 900;
  padding: 8px 12px;
}

.cover__container--texts {
  height: 370px;
  padding-left: 5px;
  padding-right: 18%;
}

.cover__container--texts h1 {
  font-size: 38px;
  padding-top: 8px;
  padding-bottom: 20px;
}

.cover__container--texts h1 strong {
  color: #22e39e;
}

.cover__container--texts p {
  font-size: 22px;
  line-height: 1;
  padding-bottom: 48px;
}


.cover__images--alan, .cover__images--computer {
  width: 271px;
  height: 179px;
}

.cover__images--mobile {
  width: 271px;
  height: 370px;
}
